<%- include('components/header'); -%>
<a href="/community" class="mins float-right btn-normal">Back To Community</a>
   <div>
      <p> <%= questions.title %></p>
      <p> <%= questions.text %></p>
      <p><%=questions.created_at %></p>
   </div>
   <div>
   <a href="/edit-question/?questions_id=<%= questions._id %>" class="btn btn-primary" alt="">Edit Button</a>
   <form onsubmit="return confirm('Do You Want To Delete');" action="/delete-question?q_id=<%= questions._id %>" method="POST">
                <button class="center btn-danger">Delete Button</button>
               </form>
            </div>
              
      <form action="/add-comment/?questions_id=<%= questions._id %>&user_id=<%= user._id %>" method="POST">
   <h3>Add Comment : </h2>
                <input type="text" placeholder="Write a comment" name="text" required  />
             <button class="btn btn-success">Add Comment</button>
             </form>
   
   
            <%- include('components/footer'); -%>