<%- include('components/header'); -%>
  <h2>Welcome To Matrix Master Community</h2>
  <p>There are <%= counts -1 %> Questions
    </p>
    <a href="/addquestions" class="btn btn-secondary">Add Question </a>
    <% if(allquestions.length> 0) { %>
      <% allquestions.forEach( questions=> { %>
        <div>
          <p><%= questions.title %> </p>
            <p><%= questions.text %></p>
            </div>
            <div>
              <a href="/communitydetails/?question_id=<%= questions._id%>" > See
                More</a>
                <p><span> By:-</span>  <%= questions.user.username %> </p>

                <p><%=questions.created_at %></p>
                </div>

                <% }) %>

                  <% } else { %>
                    <h3 class="err"> There is no Question </h3>
                    <% } %>

                      <%- include('components/footer'); -%>
